<<<<<<< HEAD
.menu {
    text-align: center;
}

.title {
    color: green;
    text-align: center;
}

.desc {
    width: 100%;
    text-align: justify;
    font-style: italic;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column
    }
}

.sources:hover {
    color: red;
=======
#abc{
    text-align: center;
    padding-bottom: 1cm;
}
.kloc {
    padding: 5px;
    border-collapse: collapse;
    font-size: larger;
    border: solid;
    border-color: black;
}
#leb{
    background-color: black;
    color: white;
    border: black;
>>>>>>> origin/zad2
}
