#kontener{
    width: 100%;    
}


#tytul{
    text-align: center;
    margin-bottom: 1cm;
}

.pierwsze{
    background-color: blue;
}

#przycisk1{
    background-color: orange;
}

#przycisk2{
    background-color: orange;
    margin-left: 1cm;
}